.font-blue {
    font-size: 16px;
    color: blue;
}

legend{
    color: black;
    
}

.info-block{
    margin-bottom: 25px;
}

input{
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: gray
}

.box{
    width: 50%;
}

.list{
    display: flex;
}